.pagination{
  padding: 20px 5px;
  background: #3c3c3c20;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 5px;
  border-radius: 13px;
}
.p_btn{
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bcg-3c3c3c92);
  border-radius: 6px;
  color: var(--color-snow);
  border: 1px solid silver;
  font-weight: bold;
  transition: all ease 0.3s;
}

.p_btn:hover{
  background: var(--bcg-midnightblue);
  border: 1px solid silver;
  transition: all ease 0.3s;
}
.p_btn_active{
  /*background: yellowgreen;*/
  color: aqua;
  transition: all ease 0.3s;
}


